<configuration>
  <appSettings>
    <add key="Setting1" value="Value1" />
    <add key="Setting2" value="Value2" />
  </appSettings>
  
  <connectionStrings>
    <add name="ConnectionString1" connectionString="Server=serverName;Database=dbName;User Id=userId;Password=password;" providerName="System.Data.SqlClient" />
    <add name="ConnectionString2" connectionString="Server=serverName2;Database=dbName2;User Id=userId2;Password=password2;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <logging>
    <logLevel>Info</logLevel>
    <logFile>logs/app.log</logFile>
  </logging>
</configuration>
